<!-- Template HTML -->
<div class="card-container">
  <div class="card" *ngFor="let image of data; let i = index">
    <p *ngIf="!isVisible; then bloccoIf else bloccoElse"></p>
    <ng-template #bloccoIf>
      <div class="notVisible">
        <p>Card not visible</p>
        <img src={{notVisibleImageUrl}}>
      </div>
    </ng-template>
    
    <ng-template #bloccoElse>
      <mat-card class="example-card" [ngStyle]="{'width': '300px'}">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{image.name}}</mat-card-title>
          <mat-card-subtitle>{{image.username}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{image.imageUrl}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>{{ longText }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button (click)="onClick(i)" [disabled]="isDisabled" matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button [disabled]="isDisabled" aria-label="Example icon button with a open in new tab icon">
                <mat-icon>send</mat-icon>
              </button>
        </mat-card-actions>
        <p>{{comments[i]}}</p>
        <form class="example-form">
          <mat-form-field class="example-full-width" >
            <mat-label>Leave a comment</mat-label>
            <input matInput placeholder="Ex. It makes me feel..." [(ngModel)]="comments[i]" name="comment{{i}}"/>
          </mat-form-field>
        </form>
      </mat-card>
    </ng-template>
  </div>
</div>
