.example-card {
  margin: 0 auto; /* Centra l'elemento orizzontalmente */
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto; /* Centra l'elemento orizzontalmente */
}

.example-full-width {
  width: 100%;
}

.notVisible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altezza del 100% della viewport */
}

.notVisible p {
  color: red;
  font-size: inherit; /* Utilizza la dimensione del carattere ereditata */
}

.notVisible img {
  max-width: 100%;
  max-height: 80vh; /* Altezza massima dell'80% della viewport */
}

